.property-details {
    margin-bottom: 20px;
}

.property-details h1 {
    font-size: 24px;
    font-weight: bold;
}

.property-details p {
    margin-bottom: 10px;
}

.star {
    font-size: 30px;
    cursor: pointer;
}

.star-filled {
    color: yellow;
}
