<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div class="container">
        <div *ngIf="property !== undefined">
            <div class="property-details">
                <h1>{{property.title}}</h1>
                <p>{{property.price}}€ / noche</p>
                <p>{{property.autCommunity}} - {{property.municipality}} - {{property.squareMeter}}m<sup>2</sup></p>
                <p>Nº Hab: {{property.numRooms}}, Nº Baños: {{property.numBathrooms}}, Terrazas: {{property.numTerraces}}</p>
                <h4>Descripción</h4>
                <p>{{property.description}}</p>
                <p *ngIf="property.garage">Garaje: Disponible</p>
                <p *ngIf="!property.garage">Garaje: No disponible</p>
                <p>Puntuacion: {{ scoreProperty }}</p>
            </div>
            <div>
                <h3>Dar puntuacion: </h3>
                <select>
                    <option value="1">1 estrella</option>
                    <option value="2">2 estrellas</option>
                    <option value="3">3 estrellas</option>
                    <option value="4">4 estrellas</option>
                    <option value="5">5 estrellas</option>
                </select>
                <button>Puntuar</button>
            </div>
            <div class="property-buttons">
                <button class="btn btn-primary" (click)="updateProperty()">Editar</button>
                <button class="btn btn-danger" (click)="deleteProperty()">Eliminar</button>
            </div>
        </div>
        <div *ngIf="property === undefined">
            <h1>Propiedad no encontrada</h1>
        </div>
    </div>
</body>
</html>
