.propiedades-detalles {
    margin-bottom: 20px;
}

.propiedades-detalles h1 {
    font-size: 24px;
    font-weight: bold;
}

.propiedades-detalles p {
    margin-bottom: 10px;
}

.estrella {
    font-size: 30px;
    cursor: pointer;
}

.estrella-seleccionada {
    color: yellow;
}
