<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Quiénes Somos</h2>
            <p>
                Bienvenido a RentalRS, tu destino para encontrar las mejores propiedades de alquiler vacacional.
                Nos enorgullece ofrecer una amplia variedad de opciones de alojamiento para satisfacer tus necesidades de viaje.
                Ya sea que estés planeando unas vacaciones familiares, una escapada romántica o un viaje de negocios, tenemos
                la propiedad perfecta para ti.
            </p>
            <p>
                En RentalRS, entendemos la importancia de encontrar un lugar que se sienta como en casa mientras estás lejos de casa.
                Nuestro equipo se compromete a proporcionar un servicio excepcional y a ayudarte a encontrar la propiedad perfecta
                que se adapte a tus necesidades y presupuesto.
            </p>
            <p>
                Explora nuestro sitio y descubre una amplia gama de propiedades en ubicaciones increíbles. Nos esforzamos por hacer
                que tu experiencia de búsqueda y reserva sea fácil y sin complicaciones. ¡Esperamos ayudarte a planificar tu próximo
                viaje inolvidable!
            </p>
        </div>
        <div class="col-md-4">
            <img src="/assets/images/logo.png" alt="Imagen Representativa" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary" routerLink="/home">Volver</button>
    </div>
</div>
