<div class="container" *ngIf="userLogged | async as user">
    <div class="profile-container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="profile-image">
                    <img src="{{ user.photoURL || '/assets/images/icon_no_foto.png' }}" class="img-fluid rounded-circle"
                        alt="Foto de perfil">
                </div>
            </div>
            <div class="col-md-9">
                <h2>{{ user.displayName }}</h2>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
                <button class="btn btn-info ms-2" (click)="aniadirPropiedad()">Agregar propiedad</button>
            </div>
        </div>
    </div>
</div>