<div *ngIf="usuario !== undefined">
    <div *ngFor="let solicitud of usuario.solicitudes">
        <h5 class="card-title">Propiedad: {{ solicitud.tituloPropiedad }}</h5>
        <p class="card-text">Fecha de Inicio: {{ solicitud.fechaInicio }}</p>
        <p class="card-text">Fecha de Fin: {{ solicitud.fechaFin }}</p>

        <button (click)="aceptarORechazarReserva(true, solicitud)">Aceptar</button>
        <button (click)="aceptarORechazarReserva(false, solicitud)">Rechazar</button>
    </div>
</div>