<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Contacta con Nosotros</h2>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" class="form-control" id="correo">
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje:</label>
                    <textarea class="form-control" id="mensaje" rows="5"></textarea>
                </div>
                <div class="d-flex mt-2">
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                    <button class="btn btn-danger" routerLink="/home">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
