<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>Registrarse</b>
        </div>
        <div class="card-body p-4">
            <label for="nombre">Nombre</label>
            <input class="form-control m-2" type="text" placeholder="Introduce tu nombre" [(ngModel)]="usuario.nombre">

            <label for="email">Email</label>
            <input class="form-control m-2" type="email" placeholder="Introduce tu correo" [(ngModel)]="usuario.email">

            <label for="contrasenia">Contraseña</label>
            <input class="form-control m-2" type="password" placeholder="Introduce tu contraseña"
                [(ngModel)]="usuario.contrasenia">

            <div class="d-flex flex-column align-items-center">
                <button class="btn btn-primary btn-block m-2" (click)="registrarse()">Registrarse</button>
                <button class="btn btn-info btn-block m-2" (click)="registrarseConGoogle()">Registrarse con google</button>
                <label class="mt-2">Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesión</a></label>
            </div>
        </div>
    </div>
</div>