<div class="row" *ngIf="usuario !== undefined">
    <div class="col-md-4 text-center">
        <img [src]="usuario.photoURL || '/assets/images/no_perfil.png'" class="img-fluid rounded-circle"
            style="max-width: 25%;" alt="Foto de perfil">
    </div>
    <div class="col-md-8">
        <h2>{{ usuario.displayName }}</h2>
        <p>{{ usuario.email }}</p>
        <div class="row mt-3">
            <div class="col-md-6">
                <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-info" (click)="aniadirPropiedad()">Agregar propiedad</button>
            </div>
        </div>
    </div>
</div>