<div class="container">
    <h3>FILTROS</h3>
    <div class="row">
        <div class="col-md-3">
        <app-filtros
            [comunidadSeleccionada]="comunidadSeleccionada"
            (emitter)="filtrar($event)"></app-filtros>
        </div>
        <div class="col-md-9">
        <app-item-alquileres
            *ngFor="let alquiler of listaAlquileresFiltrada"
            [alquiler]="alquiler"
            [routerLink]="'/view/' + alquiler.idPropiedad"
            routerLinkActivated="active"></app-item-alquileres>
        </div>
    </div>
</div>