<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            <h3>Filtros</h3>
            <app-filtros [comunidadSeleccionada]="comunidadSeleccionada" (emitter)="filtrar($event)"></app-filtros>
        </div>
        <div class="col-md-9">
            <h3>Alquileres Disponibles</h3>
            <div *ngIf="listaAlquileresFiltrada !== undefined && listaAlquileresFiltrada.length > 0">
                <app-item-alquileres *ngFor="let alquiler of listaAlquileresFiltrada" [alquiler]="alquiler"
                    [routerLink]="'/view/' + alquiler.idPropiedad" routerLinkActivated="active"></app-item-alquileres>
            </div>
            
            <div *ngIf="listaAlquileresFiltrada !== undefined && listaAlquileresFiltrada.length === 0">
                <img src="/assets/images/no_content.png" alt="">
                <p>No se han encotrado inmuebles</p>
                <button routerLink="/home" class="btn btn-primary mt-2">Volver</button>
            </div>
        </div>
    </div>
</div>