<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Propiedad</title>
</head>

<body>
    <div class="container">
        <h1 *ngIf="id === null">Añadir propiedad</h1>
        <h1 *ngIf="id !== null">Editar propiedad</h1>
        <div *ngIf="id === null">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="house" [(ngModel)]="tipoSeleccionado"
                    value="house">
                <label class="form-check-label" for="house">Casa</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="floor" [(ngModel)]="tipoSeleccionado"
                    value="floor">
                <label class="form-check-label" for="floor">Piso</label>
            </div>
        </div>

        <form>
            <div class="form-group mb-3">
                <label for="title">Titulo:</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="title" required>
            </div>
            <div class="form-group mb-3">
                <label for="description">Descripcion:</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="description" required>
            </div>
            <div class="form-group mb-3">
                <label for="autCommunity">Comunidad Autonoma:</label>
                <select class="form-select" name="community" [(ngModel)]="autCommunity">
                    <option *ngFor="let c of allComunities" [ngValue]="c.community">{{ c.community }}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="municipality">Municipio:</label>
                <input type="text" class="form-control" name="municipality" [(ngModel)]="municipality" required>
            </div>
            <div class="form-group mb-3">
                <label for="street">Calle:</label>
                <input type="text" class="form-control" name="street" [(ngModel)]="street" required>
            </div>
            <div class="form-group mb-3">
                <label for="numHab">Nº Habitaciones:</label>
                <input type="number" class="form-control" name="numHab" [(ngModel)]="numRooms" required>
            </div>
            <div class="form-group mb-3">
                <label for="numBathrooms">Nº Baños:</label>
                <input type="text" class="form-control" name="numBathrooms" [(ngModel)]="numBathrooms" required>
            </div>
            <div class="form-group mb-3">
                <label for="numFloors">Nº Pisos:</label>
                <input type="number" class="form-control" name="numFloors" [(ngModel)]="numFloors" required>
            </div>
            <div class="form-group mb-3">
                <label for="numTerraces">Nº Terrazas:</label>
                <input type="number" class="form-control" name="numTerraces" [(ngModel)]="numTerraces" required>
            </div>
            <div class="form-group mb-3">
                <label for="metros">Metros cuadrados:</label>
                <input type="number" class="form-control" name="metros" [(ngModel)]="squareMeter" required>
            </div>

            <label for="garage">Garaje:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="garage" id="siGaraje" [(ngModel)]="garage"
                    value="true">
                <label class="form-check-label" for="siGaraje">Si</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="garage" id="noGaraje" [(ngModel)]="garage"
                    value="false">
                <label class="form-check-label" for="noGaraje">No</label>
            </div>

            <div class="form-group mb-3">
                <label for="price">Precio:</label>
                <input type="number" class="form-control" name="price" [(ngModel)]="price">
            </div>

            <div class="form-group mb-3" *ngIf="tipoSeleccionado === 'house'">
                <label for="outside">Exterior:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="outside" id="siExterior" [(ngModel)]="outside"
                        value="true">
                    <label class="form-check-label" for="siExterior">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="outside" id="noExterior" [(ngModel)]="outside"
                        value="false">
                    <label class="form-check-label" for="noExterior">No</label>
                </div>
            </div>

            <div *ngIf="tipoSeleccionado === 'floor'">
                <div class="form-group mb-3">
                    <label for="floor">Planta:</label>
                    <input type="number" class="form-control" name="floor" [(ngModel)]="floor">
                </div>
            </div>

            <button type="button" class="btn btn-primary" (click)="addProperty()" *ngIf="id === null">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="updateProperty()" *ngIf="id !== null">Guardar</button>
            <button type="button" class="btn btn-danger" style="margin-left: 10px;" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</body>

</html>