<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="ubicacion" class="custom-form-label">Elige tu destino:</label>
                    <select class="form-select" name="destino" id="destino" [(ngModel)]="comunidadSeleccionada">
                        <option value="All">Todas las ubicaciones</option>
                        <option *ngFor="let c of listaComunidades" [ngValue]="c.community">{{c.community}}</option>
                    </select>
                    <button class="btn btn-info" (click)="buscarAlquileres()">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>